.digimon-img{
  width: 180px;
}
.digimon-img:hover{
  cursor: pointer;
  box-shadow: 3px 4px 20px 15px black;
}
.list-digimon{
  list-style: none;
  color: #d1c9bc;
  border: 3px solid black;
  padding: 10px 10px ;
  width: 180px;
  height: 275px;
  display: inline-block;
  margin: 0rem 0.5rem 1rem 1.9rem;
}
.list-digimon{
  background-color: #443c70;
}
.logo-digimon{
  text-align: center;
}
header p{
  text-align: center;
}
nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: 0.3 ease-in-out;
}
nav {
  list-style: none;
  background-color: black;
  display: flex;
  font-weight: 200;
  padding: 1rem 0;
  border: 1px white solid;
  margin: 0;
  box-shadow: 0 0 15px white;
  justify-content: space-around;
  color: white;
  position: sticky;
  transition: 0.3 ease-in-out;
  top: 0;
  width: 100%;
}
nav :hover {
  transform: scale(1.1);
  color: rgb(107, 107, 107);
  font-weight: bold;
}